.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333; /* Cor do texto */
}

.lista-de-produtos-placeholder {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
}

.lista-de-produtos-placeholder li {
    margin-bottom: 5px;
    color: #666; /* Cor do texto */
}

.bLogin {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Cor do botão */
    color: #fff; /* Cor do texto do botão */
    cursor: pointer;
    transition: background-color 0.3s;
}

.bLogin:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

.login-error {
    color: #dc3545; /* Cor do texto de erro */
}
